@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.containerTurns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.containerH1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  gap: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorImg {
  background-color: aqua;
  width: 300px;
  height: 200px;
}
